.menu-bars, .menu-cross {
  position: absolute;
  top: 1em;
  left: 1em;
  text-align: center;
  z-index: 1;
}

.menu-icons {
  position: absolute;
  top: 1.5em;
  left: 2em;
  right: 2em;
  text-align: center;
  z-index:1;
}

.menu-bars:hover, .menu-cross:hover {
  cursor: grab;
}

#close-menu-icon, #open-menu-icon {
  width: 1.5em;
  height: 1.5em;
  padding-top: 0em;
}

#close-menu-icon:hover, #open-menu-icon:hover {
}

#menu-page {
  visibility: hidden;
  position: fixed; /*absolute/fixed both work*/
  overflow-y: auto;
  background: #1f2223; /*181a1b 1f2223*/
  padding-top: 4em;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  z-index: 1;
}

nav ul {
  padding-left: 0px;
  position: relative;
}

nav a {
  font-size: 15pt;
  color: white;
  text-decoration: none !important;
}

.item {
  padding: 0.5em 0px;
}

.has-submenu {
  overflow-x: hidden;
}

@/*.submenu-link::after {
  content: url("@pathtofile(output/assets/icons/angle-down-solid.svg)");
  display: inline-block;
  filter: invert(100%);
  width: 1em;
  padding-left: 5px;
  vertical-align: middle;
}
.submenu-link-active::after {
  content: url("@pathtofile(output/assets/icons/angle-up-solid.svg)"); 
}*/
.submenu-link i {
}
.submenu-link:hover .fa {
  filter: invert(59%) sepia(95%) saturate(473%) hue-rotate(42deg) brightness(101%) contrast(102%);
}
.submenu-link-icon {
  margin-top: 5px;
}
.item-link:hover, .submenu-link:hover {
  color: #74DB00;
}
.li-menu:hover {
  /*background: #181a1b;*/
}

.submenu {
  display: none;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.submenu li {
  padding: 0.5em;
}
.subitem a {
  font-size: 1em;
}
.subitem a:hover {
  color: #74DB00;
}